.bigCounter {
    background-color: #101010;
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: white;
    gap: 5px;
    padding: 20;

}

.calendar,.four,.three,.two,.one {
    background-color: #202020;
    padding: 10px 20px;
    border-radius: 5px
}